PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/crm_db
JWT_SECRET=
JWT_EXPIRES_IN=7d
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
Test für git